


b{
    color: black;
}

.card-text{
    font-size: medium;
    color: #7e7e7e;
}
.card-review{
    width:1200px;
    justify-content: center;
    border-color: black;
    padding-left: 34px;
}
.card-header {
    background-color: #f0decf;
    justify-content: center;
    border:#7e7e7e;
    flex: auto;
    align-items: center;
}