h2{text-align: center;
    margin: 37px;
    padding: 23px;}


    .team-img{
        display:flex;
        flex-wrap: wrap;
      width:200px;
      box-sizing: border-box;
     
     padding: 0;
      margin: 25px auto;
  }

  div.card{
      background: rgb(255, 255, 255);
      width: auto;
      border: 1px solid rgba(0,0,0,.125);
      
  }

  .cards{
width:80%;
margin:auto;
padding-bottom: 40px;

  }

  .row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x) * -.5);
    margin-left: calc(var(--bs-gutter-x) * -.5);
   
    justify-content: center;
} 